body {
    font-family: "Hiragino Sans", sans-serif;
    margin: 0;
    background: #f7faff;
    color: #333;
}

header {
    background: linear-gradient(90deg, #6aa6ff, #ff7ac8);
    padding: 20px;
    text-align: center;
    color: white;
}

h2 {
    background-color: #4DA8DA;
    padding: 20px;
    text-align: center;
    color: black;
}

nav {
    background-color: #d9d9d9;
    padding: 25px;              
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    width: 80%;
}

nav a {
    background-color: #767676;
    margin: 8px 12px;           
    padding: 15px 25px;        
    color: #3bfcaf;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}

p {
    background: linear-gradient(90deg, #446dab, #FFFFFF);
    padding: 25px;
    text-align: center;
    color: #333;
    border-radius: 12px;           
    font-size: 18px;
    font-weight: bold;
    font-family: "Hiragino Maru Gothic ProN", "Hiragino Sans", sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
    position: relative;
}
p::before {
    content: "🎵 ";
    font-size: 22px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}